@model IEnumerable<schoolsSystems.Models.SchoolForm>
@{
    ViewBag.Title = "Ученики";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
@foreach (var sf in Model)
{
    <div>@Html.ActionLink(sf.Name, "Index", "Pupil", new { schoolId = @sf.SchoolId, schoolFormId = @sf.Id }, null)</div>

}

