@model schoolsSystems.Models.DayOfTimeTable

@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<h2>Редактирование расписания</h2>
@using (Html.BeginForm("Save","TimeTable",FormMethod.Post))
{   
    @Html.HiddenFor(m=>m.SchoolId)
    @Html.HiddenFor(m=>m.SchoolFormId)
    <div>
        @Html.EditorFor(m=>m.listOfDay)
    </div>
    <input type="submit" name="Сохранить"/>
}
